
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  body {
    font-family: Arial, sans-serif;
    color: brown;
    background-color: burlywood;
  }
  

  header {
    background-color: beige;
    color: brown;
    padding: 20px;
    text-align: center;
    position: relative;
  }
  
  
  header nav {
    margin-top: 10px;
  }
  
  header nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
  }
  
  header nav a:hover {
    text-decoration: underline;
  }
  

  main {
    padding: 20px;
    text-align: center;
  }
  

  footer {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  

  .page-content {
    font-size: 18px;
    margin-top: 20px;
  }

  .hamburger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .menu__box {
    display: none; 
  }
  
  #menu__toggle:checked ~ .menu__box {
    display: block; 
  }
  
  .menu__item {
    text-decoration: none;
    font-size: 18px;
  }
  
  .menu__item:hover {
    color: #333;
    text-decoration: underline;
  }
  .container__info{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
  }
  .header{
    display: flex;
  }

  .nav__item{
    color: brown;
}
footer{
    background-color: brown;
    color: burlywood;
}